header{
	border-bottom: 2px solid gray;
	padding :40px;
}
nav{
	border-right: 2px solid gray;
	width:200px;
	height : 600px;
	float : left;
	padding-top:20px;
	line-height: 30px;

}
nav li{
	list-style: none;
}
article{
	padding : 30px;
	float : left;
}
h2{
	color : purple;
}
#this_is_review{
	float : right;
	padding : 10px;
}
body.white{
	background: white;
	color: black;
}
body.black{
	background: black;
	color : white;
}